* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 5px rgb(146, 48, 12);
  padding: 20px;
  background-color: rgb(222, 226, 197);
  width: 500px;
  height: 400px;
}

#dogImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
