* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#dogImg {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
